$myFont: "Cocogoose", sans-serif;
$myFontLato: "Lato", sans-serif;
$myRedColor: #ec5242;
$myGray700: #495057;
$myGray300: #d3d3d3;
$myDark: #272a31;
$myLight: #f8f9fa;
$myPfontSize: 1rem;
$myfontWeight: 400;
$myLineHeight: 1.5;

.section-footer {
    background-color: $myLight;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 1em;
  
    .footer-left {
      margin: auto 0;
  
      img {
        width: 100%;
      }
    }
  
    .footer-right {
      margin: auto 0;
    }
  }

  @media screen and (min-width: 768px) {
    .section-footer {
        background-color: $myLight;
        display: grid;
        grid-template-columns: 1fr 3fr;
        gap: 4em;
        padding: 4em 14em;
    
        .footer-left {
          margin: auto 0;
    
          img {
            width: 100%;
          }
        }
    
        .footer-right {
          margin: auto 0;
        }
      }
  }