.section-footer {
  background-color: #f8f9fa;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 1em;
}

.section-footer .footer-left {
  margin: auto 0;
}

.section-footer .footer-left img {
  width: 100%;
}

.section-footer .footer-right {
  margin: auto 0;
}

@media screen and (min-width: 768px) {
  .section-footer {
    background-color: #f8f9fa;
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 4em;
    padding: 4em 14em;
  }

  .section-footer .footer-left {
    margin: auto 0;
  }

  .section-footer .footer-left img {
    width: 100%;
  }

  .section-footer .footer-right {
    margin: auto 0;
  }
}
