@import url("https://fonts.googleapis.com/css2?family=Lobster&family=Poppins:wght@300;400;700&display=swap");
* {
  margin: 0;
}

html,
body {
  position: relative;
}

p {
  font-family: 'Lato', sans-serif;
}

.header-container {
  width: 100%;
  background: url(../images/bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  padding-bottom: 2em;
}

.header-container .navbar {
  height: 50px;
}

.header-container .navbar .hamburger {
  margin: 0 12px;
}

.header-container .navbar .hamburger a {
  cursor: pointer;
}

.header-container .navbar .hamburger a .icon-bar {
  width: 40px;
  height: 40px;
  padding: 8px 12px;
}

.header-container .navbar .logo {
  display: none;
}

.header-container .navbar .desktop-nav {
  display: none;
}

.header-container .header-text {
  margin: 1em;
}

.header-container .header-text h3 {
  color: #ec5242;
  font-family: "Cocogoose", sans-serif;
  text-align: left;
}

.header-container .header-text h1 {
  color: #ec5242;
  font-family: "Cocogoose", sans-serif;
  text-align: left;
  padding-top: 0.75em;
  padding-bottom: 0.75em;
}

.header-container .header-text .border-text {
  border: 2px solid #fff;
  border-radius: 2px;
  width: 90%;
  background: rgba(222, 226, 230, 0.3);
  margin: 0 auto;
}

.header-container .header-text .border-text p {
  padding: 0.5em;
  color: #495057;
  font-family: "Cocogoose", sans-serif;
}

.header-container .header-text .header-date {
  margin: 10px;
}

.header-container .header-text .header-date h2 {
  color: #495057;
  font-family: "Cocogoose", sans-serif;
}

.header-container .header-text .header-date p {
  padding-top: 1em;
  color: #495057;
  text-align: left;
}

.our-program {
  background-color: #272a31;
}

.our-program .program {
  background-image: url("../images/bg2.png");
  background-color: myDark;
  -o-object-fit: cover;
     object-fit: cover;
  position: relative;
  background-repeat: no-repeat;
}

.our-program .program .program-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.our-program .program .program-header h2 {
  color: #f8f9fa;
  font-family: "Cocogoose", sans-serif;
  text-align: center;
  padding-top: 20px;
}

.our-program .program .program-header hr {
  width: 20%;
  height: 2px;
  background-color: #ec5242;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-top: 4px;
}

.our-program .program .program-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 1em;
}

.our-program .program .program-list .program-list-items {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 2fr;
      grid-template-columns: 1fr 1fr 2fr;
  margin: 0.5em 0;
  background-color: #495057;
}

.our-program .program .program-list .program-list-items .icon-bar {
  color: #f8f9fa;
  font-size: 3rem;
  padding: 0.3em;
}

.our-program .program .program-list .program-list-items h2 {
  color: #ec5242;
  margin: auto 0;
  text-align: left;
  padding: 0.3em;
}

.our-program .program .program-list .program-list-items p {
  color: #f8f9fa;
  padding: 0.3em;
  text-align: left;
}

.our-program .program .program-list .program-btn {
  margin: 2em auto;
}

.our-program .program .program-list .program-btn button {
  font-family: "Cocogoose", sans-serif;
  color: #f8f9fa;
  background-color: #ec5242;
  padding: 1em 3em;
  border: 0;
  border-radius: 2px;
  font-size: 20px;
}

.experts {
  background-color: #fff;
  width: 100%;
}

.experts .expert-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.experts .expert-header h2 {
  color: #272a31;
  font-family: "Cocogoose", sans-serif;
  text-align: center;
  padding-top: 20px;
}

.experts .expert-header hr {
  width: 20%;
  height: 2px;
  background-color: #272a31;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-top: 4px;
}

.experts .expert-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 1em;
}

.experts .expert-list .expert-list-items {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  margin: 1em 0;
}

.experts .expert-list .expert-list-items .person {
  background-image: url(../images/profile2.png);
  background-repeat: no-repeat;
  background-position: top left;
  background-size: 100px 100px;
  padding-top: 20px;
  padding-left: 20px;
}

.experts .expert-list .expert-list-items .person .front-img {
  position: relative;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.experts .expert-list .expert-list-items .person .front-img img {
  width: 100%;
  z-index: 2;
}

.experts .expert-list .expert-list-items .profile {
  margin: auto 0;
  padding: 1em;
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
}

.experts .expert-list .expert-list-items .profile h2 {
  color: #272a31;
  font-family: "Cocogoose", sans-serif;
}

.experts .expert-list .expert-list-items .profile h3 {
  margin: 0.75em 0;
  color: #ec5242;
  font-family: "Cocogoose", sans-serif;
}

.experts .expert-list .experts-btn {
  margin: 2em auto;
  overflow: hidden;
}

.experts .expert-list .experts-btn button {
  font-family: "Cocogoose", sans-serif;
  color: #272a31;
  background-color: #f8f9fa;
  padding: 0.5em 11em;
  border: 1px solid #272a31;
  border-radius: 2px;
  font-size: 15px;
}

.experts .expert-list .experts-btn button .icon-red {
  color: #ec5242;
}

.partners {
  width: 100%;
  background-color: #000;
}

.partners .partners-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.partners .partners-header h2 {
  color: #f8f9fa;
  font-family: "Cocogoose", sans-serif;
  text-align: center;
  padding-top: 20px;
}

.partners .partners-header hr {
  width: 10%;
  height: 1px;
  background-color: #ec5242;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-top: 1em;
}

.partners .partners-list {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
  margin: 1em 1em 0 1em;
  padding-bottom: 2em;
}

.partners .partners-list .partners-list-row-one {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  gap: 1em;
}

.partners .partners-list .partners-list-row-one img {
  width: 100%;
}

.partners .partners-list .partners-list-row-two {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  gap: 1em;
  margin: 0 auto;
  width: 60%;
}

.partners .partners-list .partners-list-row-two img {
  width: 100%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.section-footer {
  background-color: #f8f9fa;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  padding: 1em;
}

.section-footer .footer-left {
  margin: auto 0;
}

.section-footer .footer-left img {
  width: 100%;
}

.section-footer .footer-right {
  margin: auto 0;
}

/*******************************************/
/*******************************************/
.header-text-about {
  margin: 20px 10px;
}

.header-text-about h3 {
  color: #ec5242;
  font-family: "Cocogoose", sans-serif;
  text-align: center;
}

.header-text-about h1 {
  color: #ec5242;
  font-family: "Cocogoose", sans-serif;
  text-align: center;
  padding-top: 0.75em;
  padding-bottom: 0.75em;
}

.header-text-about .border-text-about {
  border: 2px solid #d3d3d3;
  border-radius: 2px;
  width: 90%;
  background: #fff;
  margin: auto 1em;
}

.header-text-about .border-text-about p {
  padding: 0.5em;
  color: #272a31;
  font-family: "Cocogoose", sans-serif;
}

.header-text-about .header-end {
  margin: auto 1em;
  padding-top: 1em;
  padding-bottom: 1em;
}

.header-text-about .header-end p {
  color: #272a31;
  text-align: center;
}

.about {
  margin: 1em;
  padding: 2em 0;
}

.about .about-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.about .about-header h3 {
  color: #272a31;
  text-align: center;
}

.about .about-header hr {
  width: 5%;
  height: 1px;
  background-color: #ec5242;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-top: 1em;
}

.about .about-header p {
  margin-top: 1em;
  text-align: center;
}

.about .logo-area {
  padding-top: 1em;
  margin: 1em auto;
  border: 0.5px solid #272a31;
  border-radius: 2px;
}

.about .logo-area img {
  width: 100%;
}

.samples {
  margin: 1em;
  padding: 2em 0;
}

.samples .samples-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.samples .samples-header h3 {
  color: #272a31;
  text-align: center;
}

.samples .samples-header hr {
  width: 5%;
  height: 1px;
  background-color: #ec5242;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-top: 1em;
}

.samples .samples-header p {
  margin-top: 1em;
  text-align: center;
}

.samples .samples-work {
  margin: 1em;
}

.samples .samples-work .samples-work-items {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
  gap: 1em;
}

.samples .samples-work .samples-work-items .samples-image-one {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(128, 0, 0, 0.5)), to(rgba(128, 0, 0, 0.6))), url(../images/sample1.jpg);
  background: linear-gradient(rgba(128, 0, 0, 0.5), rgba(128, 0, 0, 0.6)), url(../images/sample1.jpg);
  width: 100%;
  height: 35vh;
  background-repeat: no-repeat;
}

.samples .samples-work .samples-work-items .samples-image-one h2 {
  color: #f8f9fa;
  text-align: center;
  font-size: 2.5rem;
  padding-top: 2em;
}

.samples .samples-work .samples-work-items .samples-image-one p {
  color: #f8f9fa;
  text-align: center;
  padding-bottom: 2em;
}

.samples .samples-work .samples-work-items .samples-image-two {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(128, 0, 0, 0.5)), to(rgba(128, 0, 0, 0.6))), url(../images/sample2.jpg);
  background: linear-gradient(rgba(128, 0, 0, 0.5), rgba(128, 0, 0, 0.6)), url(../images/sample2.jpg);
  width: 100%;
  height: 35vh;
  background-repeat: no-repeat;
}

.samples .samples-work .samples-work-items .samples-image-two h2 {
  color: #f8f9fa;
  text-align: center;
  font-size: 2.5rem;
  padding-top: 2em;
}

.samples .samples-work .samples-work-items .samples-image-two p {
  color: #f8f9fa;
  text-align: center;
  padding-bottom: 2em;
}
/*# sourceMappingURL=main.css.map */