@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Poppins:wght@300;400;700&display=swap');

$myFont: 'Cocogoose', sans-serif;
$myRedColor: #dc3545;
$myGray700: #495057;
$myGray300: #dee2e6;
$myDark: #212529;
$myLight: #f8f9fa;
$myPfontSize: 1rem;
$myfontWeight: 400;
$myLineHeight: 1.5;

* {
    margin: 0;
}  

.header-container {
    width: 100%;
    height: 100vh;
    background: url(../images/bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 100%;
    position: relative;

    .navbar {
        height: 50px;
        .hamburger {
                margin: 8px 12px;
            a {
                cursor: pointer;
                    .icon-bar {
                    width: 40px;
                    height: 40px;
                    padding: 8px 12px;
                }
            } 
            }
        .logo {
            display: none;
        }
        .desktop-nav {
            display: none;
        }
    }

    .header-text {
        width: 100%;
        margin: 20px 10px;
        h3 {
            color: $myRedColor;
            font-family: $myFont;
            text-align: left;
        }
        h1 {
            color: $myRedColor;
            font-family: $myFont;
            text-align: left;
            padding-top: 0.75em;
            padding-bottom: 0.75em;
        }
        .border-text {
            border: 2px solid #fff;
            border-radius: 2px;
            width: 90%;
            background: rgba(222, 226, 230, 0.3);
            p {
                padding: 0.5em;
                color: $myGray700;
                font-family: $myFont;
            }
        }
        .header-date {
            margin: 10px;
            h1 {
                color: $myGray700;
                font-family: $myFont;
            }
            p {
                color: $myGray700;
                font-family: $myFont;
                text-align: left;
            }
        }
    }
  }

  .program {
      width: 100%;
      background-image: url('../images/bg2.jpg');
      position: relative;
      background-repeat: no-repeat;
      .program-header {
        display: flex;
        flex-direction: column;
            h2 {
                color: $myLight;
                font-family: $myFont;
                text-align: center;
                padding-top: 20px;
            }
            hr {
                width: 20%;
                height: 2px;
                background-color: $myRedColor;
                align-self: center;
                margin-top: 4px;
            }
      }
      .program-list {
          display: flex;
          flex-direction: column;
          margin: 1em;
            .program-list-items {
                display: grid;
                grid-template-columns: 1fr 1fr 2fr;
                margin: 0.5em 0;
                background-color: $myGray700;
                    img {
                        width: 4em;
                        height: 4em;
                        margin: auto 0;
                        color: $myLight;
                        padding: 0.3em;
                        background-repeat: no-repeat;
                    }
                    h2 {
                        color: $myRedColor;
                        margin: auto 0;
                        text-align: center;
                        padding: 0.3em;
                    }
                    p {
                        color: $myLight;
                        padding: 0.3em;
                    }
            }
            .program-btn {
                margin: 2em auto;
                background-color: $myRedColor;
                    button {
                        font-family: $myFont;
                        color: $myLight;
                    }                
            }
      }      
  }
    
   

    // @media screen and (min-width: 768px) {
        
    // }
