@import url("https://fonts.googleapis.com/css2?family=Lobster&family=Poppins:wght@300;400;700&display=swap");
* {
  margin: 0;
}

html,
body {
  position: relative;
}

p {
  font-family: 'Lato', sans-serif;
}

.header-container {
  width: 100%;
  background: url(../images/bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.header-container .navbar {
  height: 50px;
}

.header-container .navbar .hamburger {
  margin: 0 12px;
}

.header-container .navbar .hamburger a {
  cursor: pointer;
}

.header-container .navbar .hamburger a .icon-bar {
  width: 40px;
  height: 40px;
  padding: 8px 12px;
}

.header-container .navbar .logo {
  display: none;
}

.header-container .navbar .desktop-nav {
  display: none;
}

.header-container .header-text {
  width: 100%;
  margin: 20px 10px;
}

.header-container .header-text h3 {
  color: #ec5242;
  font-family: "Cocogoose", sans-serif;
  text-align: left;
}

.header-container .header-text h1 {
  color: #ec5242;
  font-family: "Cocogoose", sans-serif;
  text-align: left;
  padding-top: 0.75em;
  padding-bottom: 0.75em;
}

.header-container .header-text .border-text {
  border: 2px solid #fff;
  border-radius: 2px;
  width: 90%;
  background: rgba(222, 226, 230, 0.3);
}

.header-container .header-text .border-text p {
  padding: 0.5em;
  color: #495057;
  font-family: "Cocogoose", sans-serif;
}

.header-container .header-text .header-date {
  margin: 10px;
}

.header-container .header-text .header-date h1 {
  color: #495057;
  font-family: "Cocogoose", sans-serif;
}

.header-container .header-text .header-date p {
  color: #495057;
  text-align: left;
}

.our-program {
  width: 100%;
  background-color: #272a31;
}

.our-program .program {
  width: 100%;
  background-image: url("../images/bg2.png");
  background-color: myDark;
  -o-object-fit: cover;
     object-fit: cover;
  position: relative;
  background-repeat: no-repeat;
}

.our-program .program .program-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.our-program .program .program-header h2 {
  color: #f8f9fa;
  font-family: "Cocogoose", sans-serif;
  text-align: center;
  padding-top: 20px;
}

.our-program .program .program-header hr {
  width: 20%;
  height: 2px;
  background-color: #ec5242;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-top: 4px;
}

.our-program .program .program-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 1em;
}

.our-program .program .program-list .program-list-items {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 2fr;
      grid-template-columns: 1fr 1fr 2fr;
  margin: 0.5em 0;
  background-color: #495057;
}

.our-program .program .program-list .program-list-items .icon-bar {
  color: #f8f9fa;
  font-size: 3rem;
  padding: 0.3em;
}

.our-program .program .program-list .program-list-items h2 {
  color: #ec5242;
  margin: auto 0;
  text-align: left;
  padding: 0.3em;
}

.our-program .program .program-list .program-list-items p {
  color: #f8f9fa;
  padding: 0.3em;
  text-align: left;
}

.our-program .program .program-list .program-btn {
  margin: 2em auto;
}

.our-program .program .program-list .program-btn button {
  font-family: "Cocogoose", sans-serif;
  color: #f8f9fa;
  background-color: #ec5242;
  padding: 1em 3em;
  border: 0;
  border-radius: 2px;
  font-size: 20px;
}

.experts {
  background-color: #fff;
  width: 100%;
}

.experts .expert-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.experts .expert-header h2 {
  color: #272a31;
  font-family: "Cocogoose", sans-serif;
  text-align: center;
  padding-top: 20px;
}

.experts .expert-header hr {
  width: 20%;
  height: 2px;
  background-color: #272a31;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-top: 4px;
}

.experts .expert-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 1em;
}

.experts .expert-list .expert-list-items {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  margin: 1em 0;
}

.experts .expert-list .expert-list-items .person {
  background-image: url(../images/profile2.png);
  background-repeat: no-repeat;
  background-position: top left;
  background-size: 100px 100px;
  padding-top: 20px;
  padding-left: 20px;
}

.experts .expert-list .expert-list-items .person .front-img {
  position: relative;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.experts .expert-list .expert-list-items .person .front-img img {
  width: 100%;
  z-index: 2;
}

.experts .expert-list .expert-list-items .profile {
  margin: auto 0;
  padding: 1em;
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
}

.experts .expert-list .expert-list-items .profile h2 {
  color: #272a31;
  font-family: "Cocogoose", sans-serif;
}

.experts .expert-list .expert-list-items .profile h3 {
  margin: 0.75em 0;
  color: #ec5242;
  font-family: "Cocogoose", sans-serif;
}

.experts .expert-list .experts-btn {
  margin: 2em auto;
}

.experts .expert-list .experts-btn button {
  font-family: "Cocogoose", sans-serif;
  color: #272a31;
  background-color: #f8f9fa;
  padding: 0.5em 11em;
  border: 1px solid #272a31;
  border-radius: 2px;
  font-size: 15px;
}

.experts .expert-list .experts-btn button .icon-red {
  color: #ec5242;
}

.partners {
  width: 100%;
  background-color: #000;
}

.partners .partners-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.partners .partners-header h2 {
  color: #f8f9fa;
  font-family: "Cocogoose", sans-serif;
  text-align: center;
  padding-top: 20px;
}

.partners .partners-header hr {
  width: 10%;
  height: 1px;
  background-color: #ec5242;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-top: 1em;
}

.partners .partners-list {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
  margin: 1em 1em 0 1em;
  padding-bottom: 2em;
}

.partners .partners-list .partners-list-row-one {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  gap: 1em;
}

.partners .partners-list .partners-list-row-one img {
  width: 100%;
}

.partners .partners-list .partners-list-row-two {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  gap: 1em;
}

.partners .partners-list .partners-list-row-two img {
  width: 100%;
}
/*# sourceMappingURL=main.css.map */