@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Poppins:wght@300;400;700&display=swap');

$myFont: 'Cocogoose', sans-serif;
$myRedColor: #ec5242;
$myGray700: #495057;
$myGray300: #d3d3d3;
$myDark: #272a31;
$myLight: #f8f9fa;
$myPfontSize: 1rem;
$myfontWeight: 400;
$myLineHeight: 1.5;

* {
    margin: 0;
} 

html,
body {
    // overflow: hidden;
    position: relative;
}

.header-container {
    width: 100%;    
    background: url(../images/bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;    
    position: relative;

    .navbar {
        height: 50px;
        .hamburger {
                margin: 0 12px;
            a {
                cursor: pointer;
                    .icon-bar {
                    width: 40px;
                    height: 40px;
                    padding: 8px 12px;
                }
            } 
            }
        .logo {
            display: none;
        }
        .desktop-nav {
            display: none;
        }
    }

    .header-text {
        width: 100%;
        margin: 20px 10px;
        h3 {
            color: $myRedColor;
            font-family: $myFont;
            text-align: left;
        }
        h1 {
            color: $myRedColor;
            font-family: $myFont;
            text-align: left;
            padding-top: 0.75em;
            padding-bottom: 0.75em;
        }
        .border-text {
            border: 2px solid #fff;
            border-radius: 2px;
            width: 90%;
            background: rgba(222, 226, 230, 0.3);
            p {
                padding: 0.5em;
                color: $myGray700;
                font-family: $myFont;
            }
        }
        .header-date {
            margin: 10px;
            h1 {
                color: $myGray700;
                font-family: $myFont;
            }
            p {
                color: $myGray700;
                font-family: $myFont;
                text-align: left;
            }
        }
    }
  }

 .our-program {
     width: 100%;
     background-color: $myDark;
     .program {
        width: 100%;
        background-image: url('../images/bg2.png');
        background-color: myDark;
        object-fit: cover;
        position: relative;
        background-repeat: no-repeat;
        .program-header {
          display: flex;
          flex-direction: column;
              h2 {
                  color: $myLight;
                  font-family: $myFont;
                  text-align: center;
                  padding-top: 20px;
              }
              hr {
                  width: 20%;
                  height: 2px;
                  background-color: $myRedColor;
                  align-self: center;
                  margin-top: 4px;
              }
        }
        .program-list {
            display: flex;
            flex-direction: column;
            margin: 1em;
              .program-list-items {
                  display: grid;
                  grid-template-columns: 1fr 1fr 2fr;
                  margin: 0.5em 0;
                  background-color: $myGray700;
                      .icon-bar {
                          
                          color: $myLight;
                          font-size: 3rem;
                          padding: 0.3em;
                          
                      }
                      h2 {
                          color: $myRedColor;
                          margin: auto 0;
                          text-align: left;
                          padding: 0.3em;
                      }
                      p {
                          color: $myLight;
                          padding: 0.3em;
                          text-align: left;
                      }
              }
              .program-btn {
                  margin: 2em auto;
                      button {
                          font-family: $myFont;
                          color: $myLight;
                          background-color: $myRedColor;
                          padding: 1em 3em;
                          border: 0;
                          border-radius: 2px;
                          font-size: 20px;
                      }                
              }
        }      
    }
 }

.experts {
    background-color: #fff;
    width: 100%;
        .expert-header {
            display: flex;
            flex-direction: column;
            h2 {
                color: $myDark;
                font-family: $myFont;
                text-align: center;
                padding-top: 20px;
            }
            hr {
                width: 20%;
                height: 2px;
                background-color: $myDark;
                align-self: center;
                margin-top: 4px;
            }
        }
        .expert-list {
            display: flex;
            flex-direction: column;
            margin: 1em;
                .expert-list-items {
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                    margin: 1em 0;
                        .person {
                            // margin: 1em 1em;  
                            background-image: url(../images/profile2.png);   
                            background-repeat: no-repeat;
                            background-position: top left;
                            background-size: 100px 100px;
                            padding-top: 20px;
                            padding-left: 20px;    
                                .front-img {
                                    position: relative;
                                    box-shadow: 0 0 5px rgba(0,0,0,0.5);                                                                  
                                            img {
                                            width: 100%;
                                            z-index: 2;                                            
                                        }
                                }
                        }
                        .profile {
                            padding: 1em;
                        }
                }
        }
}
    
   

    // @media screen and (min-width: 768px) {
        
    // }
