$myFont: "Cocogoose", sans-serif;
$myFontLato: "Lato", sans-serif;
$myRedColor: #ec5242;
$myGray700: #495057;
$myGray300: #d3d3d3;
$myDark: #272a31;
$myLight: #f8f9fa;
$myPfontSize: 1rem;
$myfontWeight: 400;
$myLineHeight: 1.5;

.our-program {
    background-color: $myDark;
  
    .program {
      background-image: url("../images/bg2.png");
      background-color: myDark;
      object-fit: cover;
      position: relative;
      background-repeat: no-repeat;
  
      .program-header {
        display: flex;
        flex-direction: column;
  
        h2 {
          color: $myLight;
          font-family: $myFont;
          text-align: center;
          padding-top: 1em;
          padding-bottom: 0.5em;
        }
  
        hr {
          width: 20%;
          height: 2px;
          background-color: $myRedColor;
          align-self: center;
        }
      }
  
      .program-list {
        display: flex;
        flex-direction: column;
        margin: 1em;
  
        .program-list-items {
          display: grid;
          grid-template-columns: 1fr 1fr 2fr;
          margin: 0.2em 0;
          background-color: $myGray700;
  
          .icon-bar {
            color: $myLight;
            font-size: 3rem;
            padding: 0.3em;
          }
  
          h2 {
            color: $myRedColor;
            margin: auto 0;
            text-align: left;
            padding: 0.3em;
          }
  
          p {
            color: $myLight;
            padding: 0.3em;
            text-align: left;
          }
        }
  
        .program-btn {
          margin: 2em auto;
  
          button {
            font-family: $myFont;
            color: $myLight;
            background-color: $myRedColor;
            padding: 1em 3em;
            border: 0;
            border-radius: 2px;
            font-size: 20px;
          }
        }
      }
  
      .program-btn-desktop {
        display: none;
      }
    }
  }

  @media screen and (min-width: 768px) {
    .our-program {
        background-color: $myDark;
    
        .program {
          background-image: url("../images/bg2.png");
          background-color: myDark;
          object-fit: cover;
          position: relative;
          background-repeat: no-repeat;
    
          .program-header {
            display: flex;
            flex-direction: column;
    
            h2 {
              color: $myLight;
              font-family: $myFont;
              text-align: center;
              padding-top: 2em;
              padding-bottom: 0.5em;
            }
    
            hr {
              width: 5%;
              height: 1px;
              background-color: $myRedColor;
              align-self: center;
            }
          }
    
          .program-list {
            display: flex;
            flex-direction: row;
            margin: 4em 11em;
    
            .program-list-items {
              display: flex;
              flex-direction: column;
              margin: 0 0.2em;
              background-color: $myGray700;
    
              .icon-bar {
                color: $myLight;
                font-size: 3rem;
                padding: 0.3em;
                text-align: center;
              }
    
              h2 {
                color: $myRedColor;
                margin: auto 0;
                text-align: center;
                padding: 0.3em;
              }
    
              p {
                color: $myLight;
                padding: 0.3em;
                text-align: center;
              }
            }
    
            .program-btn {
              display: none;
            }
          }
    
          .program-btn-desktop {
            display: block;
            margin: 0 auto;
            padding-bottom: 2em;
            width: 20%;
    
            p {
              margin: 0 auto;
              padding: 0 2em;
    
              a {
                padding: 0 2em;
                color: $myLight;
                text-align: center;
              }
            }
          }
        }
      }
  }